<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{form.title}">Books : Create</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" th:href="@{/books}" th:text="#{form.books}"> Books </a>
    </div>
    <h4 class="float-left mt-2" th:text="#{form.title}"></h4>
    <div class="clearfix"></div>
    <form id="bookForm" th:action="@{/books/(form)}" th:object="${book}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{isbn}"
               th:class="${'form-control' + (#fields.hasErrors('isbn') ? ' is-invalid' : '')}"/>
        <div class="form-group">
            <label for="description" th:text="#{form.book.description}">Description</label>
            <input type="text" th:field="*{description}"
                   th:class="${'form-control' + (#fields.hasErrors('description') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">
            <label for="title" th:text="#{form.book.title}">Title</label>
            <textarea th:field="*{title}"
                      th:class="${'form-control' + (#fields.hasErrors('title') ? ' is-invalid' : '')}"></textarea>
        </div>
        <div class="form-group">
            <label for="noPages" th:text="#{form.book.noPages}">Title</label>
            <textarea th:field="*{noPages}"
                      th:class="${'form-control' + (#fields.hasErrors('noPages') ? ' is-invalid' : '')}"></textarea>
        </div>
        <div class="form-group">
            <label for="authorName" th:text="#{form.book.authorName}">Title</label>
            <textarea th:field="*{authorName}"
                      th:class="${'form-control' + (#fields.hasErrors('authorName') ? ' is-invalid' : '')}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{form.submit}">Submit</button>
    </form>
</div>
</body>
</html>
