<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{list.title}">Books : View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <a class="float-left mt-2" href="form.html" th:href="@{/books}" th:text="#{page.books}">Books</a>
    <br>
    <a class="float-left mt-2" href="form.html" th:href="@{/authors}" th:text="#{page.authors}">Authors</a>
</div>
</body>
</html>
