<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{list.title}">Books : View all</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="form.html" th:href="@{/books/(form)}" th:text="#{list.create}">Create
            Book</a>
    </div>
    <h4 class="float-left mt-2" th:text="#{list.title}">Books : View all</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:text="#{list.table.isbn}"></th>
            <th th:text="#{list.table.description}"></th>
            <th th:text="#{list.table.title}"></th>
            <th th:text="#{list.table.noPages}"></th>
            <th th:text="#{list.table.authorName}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.empty}">
            <td colspan="5" th:text="#{list.table.empty}"></td>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.isbn}">1</td>
            <td><a href="view.html" th:href="@{'/books/' + ${book.isbn}}"
                   th:text="${book.description}"> The description </a></td>
            <td><a href="view.html" th:href="@{'/books/' + ${book.isbn}}"
                   th:text="${book.title}"> The title </a></td>
            <td><a href="view.html" th:href="@{'/books/' + ${book.isbn}}"
                   th:text="${book.noPages}"> The number of pages </a></td>
            <td><a href="view.html" th:href="@{'/books/' + ${book.isbn}}"
                   th:text="${book.authorName}"> The author's name </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
