<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: head(title=~{::title/text()})">
		<title th:text="#{view.title}">Book : View</title>
	</head>
	<body>
		<div class="container">
			<div th:replace="fragments :: navbar"></div>
			<div class="float-right mt-2">
				<a class="btn btn-primary btn-sm" href="list.html" th:href="@{/books}" th:text="#{view.books}">Books</a>
			</div>
			<h4 class="float-left mt-2" th:text="#{view.title}">Books : View</h4>
			<div class="clearfix"></div>
			<div class="alert alert-success" th:if="${globalMessage}" th:text="#{${globalMessage}}">Some Success book</div>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title" th:text="${book.isbn + ': ' + book.description}">The description of the book.</h4>
					<p class="card-text" th:text="${book.title}">The title of the book.</p>
					<p class="card-text" th:text="${book.noPages}">The number of pages of the book.</p>
					<p class="card-text" th:text="${book.authorName}">The name of the author of the book.</p>
					<a class="card-link" href="books" th:href="@{'/books/delete/' + ${book.isbn}}" th:text="#{view.delete}">delete</a>
					<a class="card-link" href="form.html" th:href="@{'/books/modify/' + ${book.isbn}}" th:text="#{view.modify}"> modify</a>
				</div>
			</div>
		</div>
	</body>
</html>
