<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{author.list.title}">Authors - Search result</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="searchForm.html" th:href="@{/authors/(form)}" th:text="#{author.form.search}">Search</a>
    </div>
    <h4 class="float-left mt-2" th:text="#{author.list.title}">Authors - Search result</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th th:text="#{author.list.id}"></th>
            <th th:text="#{author.list.firstName}"></th>
            <th th:text="#{author.list.lastName}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${authors.empty}">
            <td colspan="5" th:text="#{author.list.table.empty}"></td>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.firstName}">1</td>
            <td th:text="${author.lastName}">1</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
