<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title th:text="#{author.form.title}">Authors : Search</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" th:href="@{/authors}" th:text="#{author.form.authors}"> Authors </a>
    </div>
    <h4 class="float-left mt-2" th:text="#{author.form.title}"></h4>
    <div class="clearfix"></div>
    <form id="authorForm" th:action="@{/authors/(searchForm)}" th:object="${author}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>
        <input type="hidden" th:field="*{id}"
               th:class="${'form-control' + (#fields.hasErrors('id') ? ' is-invalid' : '')}"/>
        <div class="form-group">
            <label for="firstName" th:text="#{form.author.firstName}">Description</label>
            <input type="text" th:field="*{firstName}"
                   th:class="${'form-control' + (#fields.hasErrors('firstName') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">
            <label for="lastName" th:text="#{form.author.lastName}">Description</label>
            <input type="text" th:field="*{lastName}"
                   th:class="${'form-control' + (#fields.hasErrors('lastName') ? ' is-invalid' : '')}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{author.form.search}">Search</button>
    </form>
</div>
</body>
</html>
