<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
        <title th:text="${title}">Fragments</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <nav th:fragment="navbar" class="navbar navbar-dark bg-primary">
        <a href="form.html" th:href="@{/}" class="navbar-brand" th:text="#{navbar.title}"></a>
    </nav>
</div>
</body>
</html>
